<h2>my page</h2>

<%= form_with model: @customer, url: customers_update_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :name, 'name' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, 'email' %><br>
    <%= f.email_field :email %>
  </div>

  <%= f.submit 'update' %>
  <%= link_to 'é€€ä¼šã™ã‚‹', unsubscribe_path %>

<% end %>