<div class="container">

  <div class="row col-12 mx-auto py-5">
    <div class="sidebar col-3">
      <!--カテゴリ-->
      <%= render 'public/categories/category', categories: @categories %>
    </div>

    <!--投稿履歴一覧-->
    <div class="col-8 justify-content-center ml-5">
      <h4><%= @customer.name %>さんの投稿履歴一覧</h4>
      <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 mx-auto p-2">

  <% @items.each do |item| %>
  <div class="item card-list-container col m-0.5 pb-5 text-center" >

    <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image, size:"150x100", class: "card-img-top", style: "object-fit: cover;" %>
              <br><br><h6 class="card-title text-dark"><%= truncate(item.goods_name, length: 8) %></h6>
            <% end %>
            <i class="fa-solid fa-comment" style="color: #b8f0ad;"></i><%= item.comment_lists.count %>
            <i class="fa-solid fa-heart" style="color: #b8f0ad;"></i><%= item.like_lists.count %>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>


