<h4>投稿一覧</h4>

<table>

  <thead>
    <tr>
      <th>投稿ID</th>
      <th>商品名</th>
      <th>値段</th>
      <th>エリア</th>
      <th>店舗名</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %>></td>
        <td><%= link_to item.name, admin_items(item.id) %></td>
        <td><%= item.price.to_s(:delimited) %></td>
        <td><%= item.area %></td>
        <td><%= item.store %></td>
      </tr>
    <% end %>
  </tbody>

</table>