<div class="container">

  <div class="row">
    <div class="m-4">
      <h4>商品詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <table class="item-box">

        <tr>
          <td><%= image_tag @item.get_image, size:"240x160", style: "object-fit: cover;" %></td>
          <td></td>
        </tr>

        <tr>
          <th>投稿日時</th>
          <td><%= @item.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        </tr>

        <tr>
          <th>商品名</th>
          <td><%= @item.goods_name %></td>
        </tr>

        <tr>
          <th>商品説明</th>
          <td><%= @item.description %></td>
        </tr>

        <tr>
          <th>カテゴリー</th>
          <td><%= @item.category.name %></td>
        </tr>

        <tr>
          <th>値段</th>
          <td><%= @item.price.to_s(:delimited) %>円</td>
        </tr>

        <tr>
          <th>エリア</th>
          <td><%= @item.area %></td>
        </tr>

        <tr>
          <th>店舗名</th>
          <td><%= @item.store %></td>
        </tr>

        <tr>
          <th>投稿者</th>
          <td><%= @customer.name %></td>
        </tr>

         <tr>
           <th>コメント件数</th>
          <td class="comment_<%= @item.id %>">：<%= @item.comment_lists.count %></td>
        </tr>

        <tr>
          <td>
            <%= link_to 'Destroy', admin_item_path, class: "btn btn-outline-success", method: :delete %>
          </td>
        </tr>

      </table>
    </div>

    <div class="col-lg-7">
      <div class= "comment-box comments">
        <%= render 'admin/comment_lists/comment', item: @item %>
      </div>
    </div>
  </div>
</div>