<div class="container">

  <div class="row">
    <div class="m-4">
      <h4>商品詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <table class="item-box">

        <tr>
          <td><%= image_tag @item.get_image, size:"240x160"%></td>
          <td></td>
        </tr>

        <tr>
          <th>商品名</th>
          <td><%= @item.goods_name %></td>
        </tr>

        <tr>
          <th>商品説明</th>
          <td><%= @item.description %></td>
        </tr>

        <tr>
          <th>カテゴリー</th>
          <td><%= @item.category.name %></td>
        </tr>

        <tr>
          <th>値段</th>
          <td><%= @item.price.to_s(:delimited) %>円</td>
        </tr>

        <tr>
          <th>エリア</th>
          <td><%= @item.area %></td>
        </tr>

        <tr>
          <th>店舗名</th>
          <td><%= @item.store %></td>
        </tr>

        <tr>
          <th>投稿者</th>
          <td><%= @customer.name %></td>
        </tr>

         <tr>
           <th>コメント件数</th>
          <td>：<%= @item.comment_lists.count %></td>
        </tr>

        <tr>
          <td>
            <%= link_to 'Destroy', admin_item_path, class: "btn btn-outline-success", method: :delete %>
          </td>
        </tr>

      </table>
    </div>

    <div class="col-lg-7">
      <div class= "comment-box">
        <table>

          <!--コメントを表示-->
          <% @item.comment_lists.each do |comment_list| %>

            <tr>
              <td><%= comment_list.comment %></td>
            </tr>

            <tr>
              <td>
                <%= comment_list.customer.name %>
                <%= comment_list.created_at.strftime('%Y/%m/%d') %>
                <%= link_to admin_item_comment_list_path(comment_list.item, comment_list), method: :delete do %>
                  <i class="fa-solid fa-trash-can" style="color: #89c997"></i>
                <% end %>
              </td>
            </tr>
          <% end %>

        </table>
      </div>
    </div>
  </div>
</div>