<h4><%= @customer.name %>さんの会員詳細</h4>

<table>

  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
  </tr>

  <tr>
    <td>名前</td>
    <td><%= @customer.name %></td>
  </tr>

  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>

  <tr>
    <td>会員ステータス</td>
    <td>
      <% if @customer.is_active %>
        <span class="text-success">有効</span>
      <% else %>
        <span class="text-secondary">退会</span>
      <% end %>
    </td>
  </tr>

  <tr>
    <td></td>
    <td><%= link_to '編集', edit_admin_customer_path(@customer) %></td>
  </tr>

</table>