<%= render 'category', categories: @categories %>

<h4><%=@category.name %>（全<%= @category.items.all.count %>件）</h4>
      <% @category.items.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image, size:"200x150", class: "card-img-top", style: "object-fit: cover;" %>
          <%= item.name %>
          <p class="card-text text-dark"><%= item.price.to_s.reverse.scan(/.{1,3}/).join(',').reverse %>円</p>
        <% end %>
      <% end %>

