<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

      <br>
      <h4>Log in</h4><br>
      <h7>会員の方はこちらからログイン</h7><br><br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table class="table table-borderless">

        <tr class="field">
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>

        <tr class="field">
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>

        <% if devise_mapping.rememberable? %>
          <tr class="field">
            <td></td>
            <td>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </td>
          </tr>
        <% end %>

        <tr class="actions">
          <td></td>
          <td><%= f.submit "Log in", class: "btn btn-outline-success" %></td>
        </tr>
      <% end %>
      </table>

      <h7>会員登録がお済みでない方は</h7>
      <p><%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください。</p>
    </div>
  </div>
</div>
