<div class="container">
  <div class="row">
    <div class="m-4 mx-auto">
      <div>
        <%= flash[:notice] %>
      </div><br>
      <h4>商品新規登録</h4>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto" style="width: 500px;">

        <%= form_with model: @item, url: items_path do |f| %>
          <table class="item_post">

            <tr>
              <td>商品画像</td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>

            <tr>
              <td>商品名</td>
              <td><%= f.text_field :goods_name, :placeholder=>"商品名" %></td>
            </tr>

            <tr>
              <td>商品説明</td>
              <td><%= f.text_area :description, class: 'form-control', :placeholder=>"ここに説明文を記述します" %></td>
            </tr>

            <tr>
              <td>カテゴリー</td>
              <td><%= f.collection_select :category_id, Category.all, :id, :name %></td>
            </tr>

            <tr>
              <td>価格</td>
              <td><%= f.number_field :price, :placeholder=>"1000" %>円</td>
            </tr>

            <tr>
              <td>エリア</td>
              <td><%= f.text_field :area, :placeholder=>"エリア" %></td>
            </tr>

            <tr>
              <td>店舗名</td>
              <td><%= f.text_field :store, :placeholder=>"店舗名" %></td>
            </tr>

          </table>

          <label>タグ(,で区切ると複数タグ登録できます)</label>
          <%= f.text_field :name,value: @tag_list, class: 'form-control', :placeholder=>"同じタグ名は複数登録出来ません" %><br>
          <%= f.submit '投稿', class: "btn btn-outline-success" %>

        <% end %>
    </div>
  </div>
</div>