商品詳細


<div class>
  <%= image_tag @item.get_image, size:"400x350", class: "card-img-top", style: "object-fit: cover;" %>
</div>

<h4><%= @item.name %></h4>

<table>
  <tr>
    <td><%= @item.area %></td>
    <td></td>
    <td><%= @item.store %></td>
  </tr>

  <tr>
    <td><%= @item.category.name %></td>
    <td><%= @item.price(:delimited) %>円</td>
  </tr>

</table>

<p><%= @item.description %></p>