<div class="container">
  <div>
    <%= flash[:notice] %>
  </div><br>
  <h1><%= @item.goods_name %></h1>

  <div class="row">
    <div class="col-lg-5">
      <table class="item-box">

        <!--商品詳細-->
        <tr>
          <td>
            <%= image_tag @item.image, size: "240x160" %>
          </td>
          <td></td>
        </tr>

        <tr>
          <th>投稿者</th>
          <td><%= @customer.name %></td>
        </tr>

        <tr>
          <th>カテゴリ</th>
          <td><%= @item.category.name %></td>
        </tr>

        <tr>
          <th>値段</th>
          <td><%= @item.price.to_s.reverse.scan(/.{1,3}/).join(',').reverse %>円</td>
        </tr>

        <tr>
          <th>商品説明</th>
          <td><%= @item.description %></td>
        </tr>

        <tr>
          <th>エリア</th>
          <td><%= @item.area %></td>
        </tr>

        <tr>
          <th>店舗名</th>
          <td><%= @item.store %></td>
        </tr>

        <tr>
          <th>タグ</th>
          <td>
            <% @item_tags.each do |tag| %>
              <div class="tag_list">
                <i class="fa-sharp fa-solid fa-tag" style="color: #b8f0ad;"></i>
                <%= tag.name %>
              </div>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>コメント件数</th>
          <td>：<%= @item.comment_lists.count %>件</td>
        </tr>

        <tr>
          <% if @item.customer == current_customer %>
            <th>
              <%= link_to edit_item_path do %>
                <i class="fa-solid fa-screwdriver-wrench" style="color: #89c997"></i>
              <% end %>
              <%= link_to item_path, method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                <i class="fa-solid fa-trash-can" style="color: #89c997"></i>
              <% end %>
            </th>
          <% end %>
            <!--いいね機能-->
              <% if @item.like_listed_by?(current_customer) %>
                <td>
                  <%= link_to item_like_lists_path(@item), class: "like-link", method: :delete do %>
                    ♥<%= @item.like_lists.count %> いいね
                  <% end %>
                </td>
              <% else %>
                <td>
                  <%= link_to item_like_lists_path(@item), class: "like-link", method: :post do %>
                    ♡<%= @item.like_lists.count %> いいね
                  <% end %>
                </td>
              <% end %>
        </tr>

      </table>
    </div>

    <div class="col-lg-7">
      <div class= "comment-box">
        <table>

          <!--コメントを表示-->
          <% @item.comment_lists.each do |comment_list| %>
            <tr>
              <td><%= comment_list.comment %></td>
            <tr>
              
            <tr>
              <td>
                <%= comment_list.customer.name %>
                <%= comment_list.created_at.strftime('%Y/%m/%d') %>
                <% if comment_list.customer == current_customer %>
                  <%= link_to item_comment_list_path(comment_list.item, comment_list), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                    <i class="fa-solid fa-trash-can" style="color: #89c997"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
            
          <% end %>

        </table>
      </div>

      <!--コメント投稿機能　-->
      <div class="pl-3">
        <%= form_with model: [@item, @comment_list] do |f| %>
        <table>

          <tr>
            <td>
              <%= f.text_area :comment, placeholder: "コメントを入力", class: 'form-control' %>
            </td>

            <td>
              <%= f.submit "送信する", class: "btn btn-outline-success" %>
            </td>
        <% end %>

        </table>
      </div>
    </div>
  </div>
</div>
